<h1> Convert <%= @ans %>  </h1>



Go <a href="/"> back. </a>

<% @var1.each do |symbols| %>

 <li>  <a href="/<%=@ans%>/<%=symbols%>"> Convert 1 <%= @ans%> to <%= symbols%>  </a> </li> 
<% end %>  

 
